@import './normalize.css';
@import './boilerplate.css';
@import './bootstrap.min.css';

body {
  background-color: #000;
  color: #fff;
}

.overlay {
  display: none;
  width: 100%;
  height: 60%;
  bottom: 0;
  position: absolute;
  padding: 2rem;
  z-index: 9999;
}

#nav img, .overlay img {
  height: 48px;
}
